/* Universal */
html *
{
    /* color: black; */
}

/* -------------------------------------------- */
/* Tag values */
/* -------------------------------------------- */

header
{
    background-color: #e6e6fa;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(230,230,250,1) 75%);
    text-align: center;
}

h2
{
    color: black;
    text-align: center;
}

#bodyMain
{
    padding-top: 2rem;
    background-color: #ffb6c1;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,182,193,0.4) 50%, rgba(255,255,255,1) 100%);
}

p
{
    padding-left: 5%;
}

img
{
    max-width: 350px;
}

/* ---------------------------------------------- */
/* Classes */
/* ---------------------------------------------- */


/* Center object */
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

